* text eol=lf

*.png -text
*.jpg -text
*.ico -text
*.gif -text
*.webp -text

.yarn/release/*   -text binary linguist-generated
.yarn/cache/*     -text binary linguist-generated
.yarn/plugins/*   -text binary linguist-generated
.yarn/sdks/*      -text binary linguist-generated
